#bigBox {
  border: 1px solid white;
  display: flex;
  flex-wrap: wrap;
}

#bigBox > div {
  padding: 5px;
  width: 300px;
  background-color: black;
  color: white;
  margin: 5px 0 0 5px;
  border-radius: 10px;
}

.parameterBox,.envelopeBox {
  border-top: 1px solid;
  margin: 10px 0 10px 0;
  padding-top: 10px;
}
.envelopeBox canvas {
  margin-top: 10px;
}
.envelopeBox .rc-slider {
  margin-top: -10px;
}

.grainCloud input {
  width: 5em;
}
.grainCloud input,select {
  font-family: monospace;
  color: #16ba42;
  background-color:inherit;
  float: right;
}
.removeCloud {
  float: right;
}

.parameterBox .rc-slider {
  margin-top: 10px;
}
.rc-slider-track {
  background-color: #16ba42;
}
.rc-slider-handle {
  border: 2px solid #16ba42;
}
.rc-slider-rail {
  background-color: #000f28;
}
.helpBox {
  color: #16ba42;
  width: 300px;
  font-family: monospace;
}

.addGrainCloudBox span {
  padding: 5px;
}

canvas {
  background-color: #000f28;
}
