.grainCloud {
  float: left;
  padding: 5px;
  border-right: 1px solid;
}

.sourceBox {
  width: 300px;
  /*border: 1px solid;
  margin: 10px 0 10px 0;
  padding: 10px;*/
}

.parameterBox {
  width: 300px;
  border-top: 1px solid;
  margin: 5px 0 5px 0;
  padding-top: 5px;
}

.addGrainCloudBox {
  float: left;
  padding: 5px;
}

.addGrainCloudBox * {
  padding: 5px;
}
