html,body,#root {
  height: 100%;
  margin: 0;
}

#grainStormDevice {
  height: 100%;
  display: flex;
  flex-flow: column;
  background-color: black;
  color: white;
  padding: 5px;
}

#header {
  flex: 0 1 auto;
}
#header h1 {
  margin: 10px 0 10px 0;
}
#footer {
  flex: 0 1 20px;
}
#controls {
  flex: 1 1 auto;
  border: 1px solid gray;
  display: flex;
  overflow: hidden;
}

#leftPanel {
  border-right: 1px solid gray;
  width: 300px;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

#metaScreen {
  color: #16ba42;
  background-color: #000f28;
  font-family: monospace;
  padding: 5px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
#metaScreen > div {
  flex: 1;
}
#metaScreen hr {
  width: 100%;
}

#addGrainCloudBox {
  /*padding: 5px;
  margin: 5px;*/
  display: flex;
  align-items: center;
  padding: 10px;
}


#addGrainCloudBox span {
  padding: 5px;
}

#grainCloudBox {
  display: flex;
  /*flex-wrap: wrap;*/
  overflow: scroll;
}

.grainCloud {
  padding: 5px;
  width: 300px;
  /*background-color: black;*/
  /*color:   white;*/
  margin: 5px;
  border-radius: 10px;
  border: 1px solid white;
}

.parameterBox,.envelopeBox {
  border-top: 1px solid;
  margin: 10px 0 10px 0;
  padding-top: 10px;
}
.envelopeBox canvas {
  margin-top: 10px;
}
.envelopeBox .rc-slider {
  margin-top: -10px;
}

.grainCloud input {
  width: 5em;
}
input, select, button {
  font-family: monospace;
  color: #16ba42;
  background-color: inherit;
}
.grainCloud input, .grainCloud select {
  float: right;
}
.controlParameters select {
  float: none;
  display: block;
}
.controlParameters > div {
  margin-top: 10px;
}
.removeCloud {
  float: right;
}

.parameterBox .rc-slider {
  margin-top: 10px;
}


.rc-slider-track {
  background-color: #16ba42;
}
.rc-slider-handle {
  border: 2px solid #16ba42;
}
.rc-slider-rail {
  background-color: #000f28;
}
.rc-slider.controllable .rc-slider-handle {
  border: 2px solid #00e5ff;
}
.rc-slider.controllable .rc-slider-track {
  background-color: #00e5ff;
}
.rc-slider.controlled .rc-slider-handle {
  border: 2px solid #a349ff;
}
.rc-slider.controlled .rc-slider-track {
  background-color: #a349ff;
}

canvas {
  background-color: #000f28;
}
